@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --menu:#162a73;
    --violet: #7802e7;
    --white: #f1f3fb;
    --lgrey: #e2e3e4;
    --cgrey:#d1d1d1;
    --mgrey: #909090;
    --dgrey: #595757;
    --black: #222222;
    --bg: #dcdbdb;
    --lblue: #e7edfb;
    --twhite: #ffffff;
    --red: #f74141;
    --lred: rgba(247, 65, 65, 0.5);
    --green: #6cc644;
    --filtered-violet: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(4190%) hue-rotate(270deg) brightness(83%) contrast(126%);
    --filtered-red:  brightness(0) saturate(100%) invert(42%) sepia(23%) saturate(6653%) hue-rotate(334deg) brightness(94%) contrast(107%);
    --filtered-white:  brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
    --filtered-dgrey:  brightness(0) saturate(100%) invert(33%) sepia(4%) saturate(212%) hue-rotate(314deg) brightness(91%) contrast(80%);
}

html{
    width: 21cm;
    margin: 0.5cm;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tbody tr td{
    border-bottom: solid 1px #7802e7;

}

thead, .team-summary {
    background-color: #7802e7;
    color: #f1f3fb;
font-weight: bold;
}

th{
    border: 0;
    background-color: #7802e7;
}

.team-stats, table thead, .game-events table tr td:nth-child(2), .game-events table tr td:nth-child(3){
    text-align: center;
}

.game-events table tr td:nth-child(3){
    padding: 0.1cm;
}

.team-stats td {
    width: calc(100%/7);
}

.header{
    text-align: center;
    font-size: 0.8cm;
}

.score{
    font-size: 1cm;
    text-align: center;
    margin-top: 0.5cm;
    line-height: 0.8cm;
}

.period-score{
    font-size: 0.5cm;
}

.meta {
    font-size: 0.55cm;
}

@media print {

}